* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html {
    scroll-behavior: smooth;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000435;
    z-index: 100;
    color: white;
    font-weight:500 ;
    font-size: large;
    position: fixed;
    top: 0;
    width: 95%;
    border-radius: 100px;
    margin-top: 10px;
    margin-inline: 30px;
    border: 0.5px solid #00d4ff ;
    box-shadow: 3px 3px 5px #00d4ff;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center ;
    gap: 5px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

nav a:hover {
    background: linear-gradient( #00d4ff,#00d4ff 40%, #090979);
    -webkit-background-clip: text;   /* clips background to text */
    -webkit-text-fill-color: transparent; /* makes text transparent so gradient shows */
}

nav img {
    margin-inline-end: 25px;
    cursor: pointer;
    margin-top: 3px;
    filter: invert(1) brightness(2);
    transition: filter 0.1s ease;
}

nav img:hover {
    transform: scale(1.05);
    filter: invert(1) brightness(2) drop-shadow(2px 2px #00d4ff);

}

body.light-mode nav img {
    filter: invert(0) brightness(0);;
}

body.light-mode nav img:hover {
    transform: scale(1.05);
    filter: invert(0) brightness(0) drop-shadow(2px 2px #00d4ff);
}

body.light-mode nav {
    color: black;
    background: #b7e0ff;
    border: 1px solid #000435;
    box-shadow: 3px 3px 5px#000435;
}

body.light-mode nav a {
    color: black;
}
body.light-mode nav a:hover {
    color: #00d4ff;
}


.logo {
    display: flex;
    align-items: center;
    font-family: "Lemon", serif;
    font-style: normal;
    font-size: 25px;
    padding: 15px;
    padding-inline-start: 25px;
    background: linear-gradient( #00d4ff,#00d4ff 40%, #090979);
    -webkit-background-clip: text;   /* clips background to text */
    -webkit-text-fill-color: transparent; /* makes text transparent so gradient shows */
}

body.light-mode .logo {
    background: linear-gradient( #00d4ff, #090979);
    -webkit-background-clip: text;   /* clips background to text */
    -webkit-text-fill-color: transparent; /* makes text transparent so gradient shows */
}


body {
    background-color: #030948;
}


section {
    min-height: 100vh;
    padding-top: 65px;
    text-align: center;
    background-color: #080d41;
    color: white;
}

body.light-mode section {
    background-color: #cde8ff;
    color: #000435;

}

h1 {
    font-size: 2.8rem;
    margin-bottom: 40px;
    margin-top: 30px;
    color: #fff;
    position: relative;
}
h1::after {
    content: '';
    display: block;
    width: 120px;
    height: 7px;
    background: linear-gradient(45deg, #00d4ff, #090979);
    margin: 10px auto;
    border-radius: 5px;
}

body.light-mode h1 {
    color: #000435;
}

@media (max-width:768px){
    nav {
        flex-direction: column;
        width: 100%;
        margin-inline: 20px;
        padding: 10px;
        margin: 0;
        border-radius: 0%;
    }

    nav ul {
        margin-left: 10px;
        justify-content: center;
        gap: 1px;
    }

    nav a {
        padding: 10px 15px;
        font-size: 12px;
    }

    .logo {
        font-size: 20px;
        padding: 10px 15px;
    }

    section{
        flex-direction: column;
    }

    #home{
        padding-top: 120px;
    }

    h1 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

}
